*{	
	margin: 0;
	border:0px;
	padding: 0;
	
}
body,html{
	
	height: 100%;
	background:#F3F3F3;
}
a {
	text-decoration: none;
	color: #000000;

}

ul {
	list-style-type: none;
}
img[alt="www.000webhost.com"]
{
	display:none;
	visibility:hidden;}
	
@media screen and (min-width: 1366px){
	

	
	div#headerContainer{
		width: 1346px;
		height: 750px;
		margin:auto;
		position: relative;
	}

	div#headerImage{
		background-color: #A0A0A0;
		background-size: 100% 100%;
		width: 100%;
		height: 450px;
		position: relative;
		top: 150px;
	}
	div#BlogFont{
		position: relative;	
		margin: auto;
		top: 60px;
		
	} 
	div#BlogFont h1{
	
		color:  rgba(0,0,0,0.6);
		
		text-align: center;
		font-size: 60px;
	}
	div#BlogFont p {
		position: relative;
		top: 40px;
		text-align: center;
		font-size: 40px;
	}
	div#BlogFont img {
		width: 50px;
		height: 50px;
	}
	
		div#navMobileButton{
		
		display: none;
	}

	ul#ulNavMobile{
		
		display: none;
	}
	ul#ulNavMobile li{
		display: none;	

	}
	nav{
		height: 80px;
		width: 100%;
		position: absolute;
		background-color:  rgba(0,0,0,0.34);
		top: 50px;
	}
	div#navContainer{
		width: 1346px;
		height: 80px;
		margin: auto;
		position: relative;
	}
	div#navLogo{
		font-family: 'Indie Flower', cursive;
		color: rgba(0,0,0,0.5);
		font-size: 32px;
		color:white;
		line-height: 80px;
		display: inline;
		float: left;
	}
	div>a#isimLogo {
		text-decoration: none;
		color: rgba(0,0,0,0.9);
		font-family: 'Indie Flower', cursive;
	}
	ul#ulNavRight{
		list-style-type: none;
		display: inline-block;
		float: right;
	}
	ul#ulNavRight li{
		display: inline-block;
		line-height: 80px;
		margin-left: 20px;
	}
	ul#ulNavRight li a {
		color: white;
		font-family: 'Dosis', sans-serif;
		text-decoration: none;
		
		
		font-style: italic;
		border-radius: 10px;
		transition: 700ms;
		padding: 14px 8px;
		
	}
	ul#ulNavRight li a:hover {
		color:#95a5a6;
		background-color: white;
	}
	
	
	#copyright{
		font-weight:700;
		width: 100%;
		font-size: 14px;
		font-family: sans-serif;
		text-align: center;
		position: absolute;
		bottom: 0px;
		background-color: #A0A0A0;
	}
	


}


@media screen and (min-width: 960px) and (max-width: 1365px) {
	header#mainHeader{
	width: 100%;
	height: 100%;
	position: relative;
	
	background-size:100% 100%;
	background-repeat: no-repeat;
	background-position: center;


	}

	div#headerContainer{
		width: 940px;
		height: 750px;
		margin:auto;
		position: relative;
	}
	div#headerImage{
		background-color: #A0A0A0;
		background-size: 100% 100%;
		width: 100%;
		height: 450px;
		position: relative;
		top: 150px;
	}
	div#BlogFont{
		position: relative;	
		margin: auto;
		top: 60px;
		
	} 
	div#BlogFont h1{
	
		color:  rgba(0,0,0,0.6);
		
		text-align: center;
		font-size: 60px;
	}
	div#BlogFont p {
		position: relative;
		top: 40px;
		text-align: center;
		font-size: 40px;
	}
	div#BlogFont img {
		width: 50px;
		height: 50px;
	}
	div#navMobileButton{
		
		display: none;
	}

	ul#ulNavMobile{
		
		display: none;
	}
	ul#ulNavMobile li{
		display: none;	

	}
	nav{
		height: 80px;
		width: 100%;
		position: absolute;
		background-color:  rgba(0,0,0,0.34);
		top: 50px;
	}
	div#navContainer{
		width: 940px;
		height: 80px;
		margin: auto;
		position: relative;
	}
	div#navLogo{
		color: rgba(0,0,0,0.9);
		font-family: 'Indie Flower', cursive;
		font-size: 30px;
		color:white;
		line-height: 80px;
		display: inline;
		float: left;
	}
		div>a#isimLogo {
		text-decoration: none;
		color: rgba(0,0,0,0.9);
		font-family: 'Indie Flower', cursive;
	}
	ul#ulNavRight{
		list-style-type: none;
		display: inline-block;
		float: right;
	}
	ul#ulNavRight li{
		display: inline-block;
		line-height: 80px;
		margin-left: 20px;
	}
	ul#ulNavRight li a {
		color: white;
		font-family: 'Dosis', sans-serif;
		text-decoration: none;
		
		
		font-style: italic;
		border-radius: 10px;
		transition: 700ms;
		padding: 12px 6px;
		
	}
	ul#ulNavRight li a:hover {
		color:#95a5a6;
		background-color: white;
	}
	div#text{
		width: 940px;
		height: 800px;
		margin:auto;
		position: relative;
		

	}
	h5{
		font-size: 44px;
		font-family: 'Marck Script', cursive;
	}
	div#text p {
		font-size: 18px;
		font-family: 'Lato', sans-serif;
	}
		#copyright{
		font-weight:700;
		width: 100%;
		font-size: 14px;
		font-family: sans-serif;
		text-align: center;
		position: absolute;
		bottom: 0px;
		background-color: #A0A0A0;
	}


}


@media screen and (min-width:720px) and (max-width: 959px){
	header#mainHeader{
	width: 100%;
	height: 100%;
	position: relative;
	
	background-size:100% 100%;
	background-repeat: no-repeat;
	background-position: center;


	}
	div#headerContainer{
		width: 700px;
		height: 520px;
		margin:auto;
		position: relative;
	}
	div#headerImage{
		background-color: #A0A0A0;
		background-size: 100% 100%;
		width: 100%;
		height: 450px;
		position: relative;
		top: 150px;
	}
	div#BlogFont{
		position: relative;	
		margin: auto;
		top: 60px;
		
	} 
	div#BlogFont h1{
	
		color:  rgba(0,0,0,0.6);
		
		text-align: center;
		font-size: 60px;
	}
	div#BlogFont p {
		position: relative;
		top: 40px;
		text-align: center;
		font-size: 40px;
	}
	div#BlogFont img {
		width: 50px;
		height: 50px;
	}
	nav{
		width: 100%;
		height: 60px;
		position: absolute;
		background-color:  rgba(0,0,0,0.34);
		top: 40px;
	}
	div#navContainer{
		width: 700px;
		height: 60px;
		margin: auto;
		position: relative;
	}
	div#navLogo{
		color: rgba(0,0,0,0.9);
		font-family: 'Indie Flower', cursive;
		font-size: 30px;
		color:white;
		line-height: 60px;
		display: inline;
		float: left;
	}
		div>a#isimLogo {
		color: rgba(0,0,0,0.9);
		font-family: 'Indie Flower', cursive;
		text-decoration: none;
		
	}
	ul#ulNavRight{
		list-style-type: none;
		display: inline-block;
		float: right;
		display: none;
	}
		
	/*Nav Mobile*/

	div#navMobileButton{
		width: 40px;
		height: 40px;
		background: url(..//photo//button.png);
		float: right;
		position: relative;
		margin-top: 10px;
		
	}



	ul#ulNavMobile{
		width: 700px;
		position: absolute;
		top: 60px;
		background-color: rgba(0,0,0,0.5);
		display: none;
	}
	ul#ulNavMobile li{
		
		text-align: center;
		border-top: 1px solid #ffffff;

	}
	
	ul#ulNavMobile li a {
		width: 100%;
		line-height: 45px;
		color: #ffffff;
		display: block;
	}
	ul#ulNavMobile li a:hover{
		color: rgba(0,0,0,0.5);
		background-color: #ffffff;
	}
	div#text{
		width: 700px;
		height: 1000px;
		margin:auto;
		position: relative;
		margin-top: 100px;
		

	}
	h5{
		font-size: 44px;
		font-family: 'Marck Script', cursive;
	}
	div#text p {
		font-size: 18px;
		font-family: 'Lato', sans-serif;
	}
		#copyright{
		font-weight:700;
		width: 100%;
		font-size: 14px;
		font-family: sans-serif;
		text-align: center;
		position: absolute;
		bottom: 0px;
		background-color: #A0A0A0;
	}
}

@media screen and (min-width:480px) and (max-width: 719px){

	header#mainHeader{
	width: 100%;
	height: 100%;
	position: relative;
	
	background-size:100% 100%;
	background-repeat: no-repeat;
	background-position: center;


	}

	div#headerContainer{
		width: 460px;
		height: 510px;
		margin:auto;
		position: relative;
	}
	div#headerImage{
		background-color: #A0A0A0;
		background-size: 100% 100%;
		width: 100%;
		height: 450px;
		position: relative;
		top: 150px;
	}
	div#BlogFont{
		position: relative;	
		margin: auto;
		top: 60px;
		
	} 
	div#BlogFont h1{
	
		color:  rgba(0,0,0,0.6);
		
		text-align: center;
		font-size: 60px;
	}
	div#BlogFont p {
		position: relative;
		top: 40px;
		text-align: center;
		font-size: 40px;
	}
	div#BlogFont img {
		width: 50px;
		height: 50px;
	}
	nav{
		width: 100%;
		height: 60px;
		position: absolute;
		background-color:  rgba(0,0,0,0.34);
		top: 40px;
	}
	div#navContainer{
		width: 460px;
		height: 60px;
		margin: auto;
		position: relative;
	}
	div#navLogo{
		color: rgba(0,0,0,0.9);
		font-family: 'Indie Flower', cursive;
		font-size: 30px;
		color:white;
		line-height: 60px;
		display: inline;
		float: left;
	}
		div>a#isimLogo {
		text-decoration: none;
		color: rgba(0,0,0,0.9);
		font-family: 'Indie Flower', cursive;

	}
	ul#ulNavRight{
		list-style-type: none;
		display: inline-block;
		float: right;
		display: none;
	}
		
	
	/*Nav Mobile*/

	div#navMobileButton{
		width: 40px;
		height: 40px;
		background: url(..//photo//button.png);
		float: right;
		position: relative;
		margin-top: 10px;
		
	}



	ul#ulNavMobile{
		width: 460px;
		position: absolute;
		top: 60px;
		background-color: rgba(0,0,0,0.5);
		display: none;
	}
	ul#ulNavMobile li{
		
		text-align: center;
		border-top: 1px solid #ffffff;

	}
	
	ul#ulNavMobile li a {
		width: 460px;
		line-height: 45px;
		color: #ffffff;
		display: block;
	}
	ul#ulNavMobile li a:hover{
		color: rgba(0,0,0,0.5);
		background-color: #ffffff;
	}
	div#text{
		width: 460px;
		height: 1100px;
		margin:auto;
		position: relative;
		margin-top: 150px;
		

	}
	h5{
		font-size: 40px;
		font-family: 'Marck Script', cursive;
	}
	div#text p {
		font-size: 16px;
		font-family: 'Lato', sans-serif;
	}
	#copyright{
		font-weight:700;
		width: 100%;
		font-size: 14px;
		font-family: sans-serif;
		text-align: center;
		position: absolute;
		bottom: 0px;
		background-color: #A0A0A0;
	}

}

@media screen and (min-width:320px) and (max-width: 479px){
	header#mainHeader{
	width: 100%;
	height: 100%;
	position: relative;
	
	background-size:100% 100%;
	background-repeat: no-repeat;
	background-position: center;


	}

	

	div#headerContainer{
		width: 300px;
		height: 510px;
		margin:auto;
		position: relative;
	}
	div#headerImage{
		background-color: #A0A0A0;
		background-size: 100% 100%;
		width: 100%;
		height: 450px;
		position: relative;
		top: 150px;
	}
	div#BlogFont{
		position: relative;	
		margin: auto;
		top: 60px;
		
	} 
	div#BlogFont h1{
	
		color:  rgba(0,0,0,0.6);
		
		text-align: center;
		font-size: 51px;
	}
	div#BlogFont p {
		position: relative;
		top: 40px;
		text-align: center;
		font-size: 37px;
	}
	div#BlogFont img {
		width: 50px;
		height: 50px;
	}
	nav{
		width: 100%;
		height: 60px;
		position: absolute;
		background-color:  rgba(0,0,0,0.34);
		top: 40px;
	}
	div#navContainer{
		width: 300px;
		height: 60px;
		margin: auto;
		position: relative;
	}
	div#navLogo{
		color: rgba(0,0,0,0.9);
		font-family: 'Indie Flower', cursive;
		font-size: 25px;
		color:white;
		line-height: 60px;
		display: inline;
		float: left;
	}
		div>a#isimLogo {
		text-decoration: none;
		color: rgba(0,0,0,0.9);
		font-family: 'Indie Flower', cursive;
	}
	ul#ulNavRight{
		list-style-type: none;
		display: inline-block;
		float: right;
		display: none;
	}
		
	/*Nav Mobile*/

	div#navMobileButton{
		width: 40px;
		height: 40px;
		background: url(..//photo//button.png);
		float: right;
		position: relative;
		margin-top: 10px;
		
	}



	ul#ulNavMobile{
		width: 300px;
		position: absolute;
		top: 60px;
		background-color: rgba(0,0,0,0.5);
		display: none;
	}
	ul#ulNavMobile li{
		
		text-align: center;
		border-top: 1px solid #ffffff;

	}
	
	ul#ulNavMobile li a {
		width: 300px;
		line-height: 45px;
		color: #ffffff;
		display: block;
	}
	ul#ulNavMobile li a:hover{
		color: rgba(0,0,0,0.5);
		background-color: #ffffff;
	}
	div#text{
		width: 300px;
		height: 1000px;
		margin:auto;
		position: relative;
		margin-top: 120px;
		

	}
	h5{
		font-size: 38px;
		font-family: 'Marck Script', cursive;
	}
	div#text p {
		font-size: 15px;
		font-family: 'Lato', sans-serif;
	}
		#copyright{
		font-weight:700;
		width: 100%;
		font-size: 14px;
		font-family: sans-serif;
		text-align: center;
		position: absolute;
		bottom: 0px;
		background-color: #A0A0A0;
	}
}

@media screen and (min-width:260px) and (max-width: 319px){


	header#mainHeader{
	width: 100%;
	height: 100%;
	position: relative;
	
	background-size:100% 100%;
	background-repeat: no-repeat;
	background-position: center;


	}
	div#headerContainer{
		width: 240px;
		height: 510px;
		margin:auto;
		position: relative;
	}
	div#headerImage{
		background-color: #A0A0A0;
		background-size: 100% 100%;
		width: 100%;
		height: 450px;
		position: relative;
		top: 150px;
	}
	div#BlogFont{
		position: relative;	
		margin: auto;
		top: 60px;
		
	} 
	div#BlogFont h1{
	
		color:  rgba(0,0,0,0.6);
		
		text-align: center;
		font-size: 42px;
	}
	div#BlogFont p {
		position: relative;
		top: 40px;
		text-align: center;
		font-size: 32px;
	}
	div#BlogFont img {
		width: 50px;
		height: 50px;
	}
	nav{
		width: 100%;
		height: 60px;
		position: absolute;
		background-color:  rgba(0,0,0,0.34);
		top: 40px;
	}
	div#navContainer{
		width: 240px;
		height: 60px;
		margin: auto;
		position: relative;
	}
	div#navLogo{
		color: rgba(0,0,0,0.9);
		font-family: 'Indie Flower', cursive;
		font-size: 25px;
		color:white;
		line-height: 60px;
		display: inline;
		float: left;
	}
		div>a#isimLogo {
		text-decoration: none;
		color: rgba(0,0,0,0.9);
		font-family: 'Indie Flower', cursive;
	}
	ul#ulNavRight{
		list-style-type: none;
		display: inline-block;
		float: right;
		display: none;
	}
		

	/*Nav Mobile*/

	div#navMobileButton{
		width: 40px;
		height: 40px;
		background: url(..//photo//button.png);
		float: right;
		position: relative;
		margin-top: 10px;
		
	}



	ul#ulNavMobile{
		width: 240px;
		position: absolute;
		top: 60px;
		background-color: rgba(0,0,0,0.5);
		display: none;
	}
	ul#ulNavMobile li{
		
		text-align: center;
	
		border-top: 1px solid #ffffff;

	}
	
	ul#ulNavMobile li a {
		width: 240px;
		line-height: 45px;
		color: #ffffff;
		display: block;
	}
	ul#ulNavMobile li a:hover{
		color: rgba(0,0,0,0.5);
		background-color: #ffffff;
	}
	div#text{
		width: 240px;
		height: 1200px;
		margin:auto;
		position: relative;
		margin-top: 110px;
		

	}
	h5{
		font-size: 38px;
		font-family: 'Marck Script', cursive;
	}
	div#text p {
		font-size: 15px;
		font-family: 'Lato', sans-serif;
	}
		#copyright{
		font-weight:700;
		width: 100%;
		font-size: 14px;
		font-family: sans-serif;
		text-align: center;
		position: absolute;
		bottom: 0px;
		background-color: #A0A0A0;
	}	
}